@font-face {
    font-family: 'Astagina Signature';
    src: url('AstaginaSignature.woff2') format('woff2'),
        url('AstaginaSignature.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
